# --- Python Basics ---
__pycache__/
*.pyc
*.egg-info/

# --- Project Specifics ---
# Ignore the logs folder inside genesis_lr so your repo doesn't get huge
genesis_lr/logs/
genesis_lr/resources/images

# Ignore generated plots/images if you don't want them tracked
#*.png
#*.jpg
#*.gif

# --- System/IDE ---
.DS_Store
.vscode/
.idea/

# --- Temporary/Trash/Tests ---
y/
tests/
BLOG_POST.md
BLOG_POST2.md
assets/training-architecture.png


